body {
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 280px;
    margin: 0;
    border-radius: 50%;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.form-content h3 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: rgb(247, 247, 247);
}

.form {
    height: 80%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form p {
    font-weight: 700;
    margin: 0;
}

.form .email-input {
    margin-bottom: 1rem;
    padding: 0.3rem 0.2rem;
    font-size: 12px;
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
    border-radius: 0.1rem;
}

.red-placeholder::placeholder {
    color: red;
}

.form .branches {
    background-color: rgb(247, 247, 247);
    padding: 0.3rem 0.2rem;
    border-radius: 0.1rem;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.form .branches option {
    margin-bottom: 0.1rem;
}

.copy-button {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    background-color: #7147D7;
    color: #fff;
    border: none;
}

.copy-button:hover {
    transition: all 0.2s;
    background-color: #FF9340;
}

.wrong-url {
    text-align: center;
    padding: 1rem;
}

#data-changed {
    display: none;
    position: absolute;
    bottom: 20%;
    margin: 0;
    width: 100%;
    text-align: center;
    color: rgb(136, 136, 136);
}

#content {
    height: 100%;
    display: flex;
}

#wrong-words {
    width: 90%;
    padding: 1rem;
    border: 1px solid #ccc;
}

#wrong-words .scan-chat * {
    margin: 0;
    vertical-align: middle;
}

#wrong-words .scan-chat {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

#wrong-words .scan-chat h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#wrong-words .scan-chat img {
    padding: 1rem;
    height: 25px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
}

.nav div:hover {
    transition: all 0.2s;
    color: #7147D7;
}

.nav * {
    cursor: pointer;
}

#repeated-words {
    overflow-y: scroll;
    padding: 1rem;
    border: 1px solid #ccc;
}

#content .copy-page {
    height: 100%;
    padding: 1rem;
}

#content .copy-page ul li {
    margin-bottom: 0.7rem;
    cursor: pointer;
}

#content .copy-page ul li:hover {
    transition: all 0.2s;
    color: #7147D7;
}

.copied-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: large;
    text-transform: uppercase;
    background-color: rgba(95, 95, 95, 0.733);
}